<li id="note_<%= note.id %>">
  <%= note.description %>
  <%= link_to image_tag('trash-can-icon.jpg', size: '20x20'), note_url(note), method: :delete, remote: true %>
  <%= link_to image_tag('pencil.png', size: '20x20'), edit_note_url(note), remote: true %>
</li>
