<ul>
  <li>Ruby classes help simulate real-word classification schemes.<a href="#"><img src="/assets/trash-can-icon.jpg" height="20" width="20"></a><a href="#"><img src="/assets/pencil.png" height="20" width="20"></a></li>
  <li>Instance variables in controllers hold data for the views.<a href="#"><img src="/assets/trash-can-icon.jpg" height="20" width="20"></a><a href="#"><img src="/assets/pencil.png" height="20" width="20"></a></li>
  <li>Rails is best for database-backed web applications.<a href="#"><img src="/assets/trash-can-icon.jpg" height="20" width="20"></a><a href="#"><img src="/assets/pencil.png" height="20" width="20"></a></li>
  <li>Javascript is pretty cool. <a href="#"><img src="/assets/trash-can-icon.jpg" height="20" width="20"></a><a href="#"><img src="/assets/pencil.png" height="20" width="20"></a></li>
  <li>Pairing accelerates learning.<a href="#"><img src="/assets/trash-can-icon.jpg" height="20" width="20"></a><a href="#"><img src="/assets/pencil.png" height="20" width="20"></a></li>
  <input placeholder="Add a new aha! here" size="50">
</ul>